<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>

    <appSettings>
        <add key="subscriptionKey" value="your subscription key" />
        <add key="region" value="your region" />
        <add key="synthesisLanguage" value="ru-RU" />
        <add key="recognitionLanguage" value="ru-RU" />
        <add key ="defaultPhrase" value="дальше"/>
    </appSettings>

  <nlog>
      <targets>
          <target name="logconsole" type="File" filename="log.log" />
      </targets>
      <rules>
          <logger name="*" minlevel="Info" writeTo="logconsole" />
      </rules>
  </nlog>

</configuration>