<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Assistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <Assistant.Properties.Settings>
      <setting name="defaultRecognitionLanguage" serializeAs="String">
        <value>ru-ru</value>
      </setting>
      <setting name="defaultSynthesisLanguage" serializeAs="String">
        <value>ru-ru</value>
      </setting>
      <setting name="random" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="defaultKeyPhrase" serializeAs="String">
        <value>next</value>
      </setting>
      <setting name="defaultKey" serializeAs="String">
        <value>Your key</value>
      </setting>
      <setting name="defaultServiceRegion" serializeAs="String">
        <value>Your region</value>
      </setting>
    </Assistant.Properties.Settings>
  </userSettings>
</configuration>